# Ignore node_modules
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json

# Ignore environment variables
.env

# Ignore database files (if applicable)
*.sqlite
*.sqlite3
*.db
dump.rdb
*.pgn

# Ignore VS Code settings
.vscode/

# Ignore OS/Editor files
.DS_Store
Thumbs.db

